<%- include("partials/header") -%>


  <div class="form-section">

  <div id="heading">
    <h2> <%= listTitle %> </h2>
  </div>

  <div class="list-items">
    <% newListItems.forEach(listItem =>{ %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" onchange="this.form.submit()" name="checkbox">
          <p>wash dishes</p>
        </div>
        <div class="item">
          <input type="checkbox" onchange="this.form.submit()" name="checkbox" value="<%= listItem._id %>">
          <p><%= listItem.name  %></p>
        </div>
        <input type="hidden" name="list" value="<%= listTitle %>">
      </form>
      <% }) %>

      <form class="item add-to-list" action="/" method="post">
        <input class="form-control form-control-lg" type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>"><i class="fa fa-solid fa-plus"></i></button>
      </form>
  </div>

</div>


<%- include("partials/footer") -%>
